.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "SF Pro Text", sans-serif;
  background: linear-gradient(
    rgba(30, 30, 55, 1),
    rgba(46, 51, 90, 1),
    rgba(89, 54, 180, 1)
  );
  background-color: rgba(171, 47, 171, 0);
  width: 390px;
  height: 844px;
  border-radius: 40px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
